<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head('Access Denied')}"></head>

<body>
    <div class="container mt-5 text-center">
        <h4>Access Denied 403</h4>
        <hr class="border-dark">
        <p>You are not authorized to access this resource.</p>
        <p><a th:href="@{/}">Return to home</a></p>
    </div>

    <th:block th:replace="~{base :: footer}"></th:block>

    <th:block th:replace="~{base :: scripts}"></th:block>
</body>
</html>
